# Default ignored files
/../../dostup_k_musike /.idea/shelf/
/../../dostup_k_musike /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../dostup_k_musike /.idea/httpRequests/
# Datasource local storage ignored files
/../../dostup_k_musike /.idea/dataSources/
/../../dostup_k_musike /.idea/dataSources.local.xml
